
{% load static %}
{% load filters %}
{% load comptition_filter %}

<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link href="{%static 'management/bootstrap/css/bootstrap.min.css'%}" rel="stylesheet">
    <link rel="stylesheet" href="{%static 'management/bootstrap/icons.css' %}">
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async
            src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
    <script
    src="{%static 'management/jquery.js'%}"></script>
</head>
<body>
    {%block main%}
    {%endblock%}
</body>
<script src="{%static '/management/bootstrap/js/bootstrap.js'%}"
        
        crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
