{% extends 'simulator/base_simulator.html' %}
{%load static%}
{%load comptition_filter%}
{%block main%}

<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #22365b; height: 10%">
    <div class="container-fluid">
      <div class="navbar-brand pe-3 ps-3">Единый государственный экзамен Информатика и ИКТ (КЕГЭ)</div>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </nav>

<div class="d-flex justify-content-center align-items-center flex-column" style="background-color: #e8eef9; min-height: 90vh">
    <h3 class="mb-2">Дано ответов {{competition|count_ans:request.user}}/{{competition.questions.all|length}}</h3>
    {%if competition.is_visible_result%}
    <table class="table table-light table-bordered mb-2" style="max-width: 20vw">
        <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Ваш ответ</th>
              <th scope="col">Правильный ответ</th>
            </tr>
          </thead>
          <tbody>
              {%for i in competition.questions.all|enumer%}
              <tr {%if i.1|is_ansed:request.user%} class="table-{%if i.1|is_right:request.user%}success{%else%}danger{%endif%}{%endif%}">
                  <th>{{i.0}}</th>
                  <th>{%if i.1|is_ansed:request.user%}{{i.1|get_ans:request.user}}{%endif%}</th>
                  <th>{{i.1.question|get_question_ans}}</th>
              </tr>
              {%endfor%}
          </tbody>
    </table>
    <h3 >Результат: {{competition|count_true:request.user}}/{{competition.questions.all|length}}</h3>
    {%endif%}
</div>

{%endblock%}