{% extends 'simulator/base_simulator.html' %}

{%block main%}


<div class="m-5">
    <div style="height: 20%">
        <h2>Демонстрационная версия станции КЕГЭ</h2>
        <p>Предлагаемая демонстрационная версия позволяет ознакомиться с основными приемами работы
            с программным обеспечением участника экзамена по Информатике и ИКТ в компьютерной форме (КЕГЭ).
        </p>
    </div>
    
    <div class="d-flex justify-content-center align-items-center" style="height: 50%">
        {%if status == 'ИДЕТ'%}
            <a href="{%url 'blank' pk%} " class="btn btn btn-success btn-lg">Начать экзамен</a>
        {%else%}
            <a href="" class="btn btn-success btn-lg disabled">Начать экзамен</a>
        {%endif%}
    </div>
</div>
<script>
    function aa() {
        $.ajax({
            url: '{% url 'is_open' pk %}',
            data: {},
            success: function (data) {
                if (data['open']) {
                    document.location.reload();
                }
                console.log(data)
            },
            method: 'get'
        })

    }

    setInterval(aa, 5000)
</script>
{%endblock%}