{% extends 'base.html' %}
{% load static %}
{% block title %} {{ question.name }} {% endblock %}
{% block main %}
{%load comptition_filter%}
{%if status == "ИДЕТ" or status == "ОТКРЫТО"  or competition.is_final%}
    <h2 class="display-2 text-center mb-4">{{ question.name }}</h2>
    {%if image%}
    <div class="container d-flex justify-content-center">
        <img src="/media/{{image}}" alt="some wrong" class="mw-100">
    </div>
    {% elif question.image %}
        <div class="container d-flex justify-content-center">
            <img src="/media/{{ question.image }}" alt="some wrong" class="mw-100">
        </div>
    {% endif %}
    {%if text%}
    <div class="container d-flex justify-content-center mt-4">
        <p>{{ text|linebreaksbr}}</p>
    </div>
    {%else%}
    <div class="container d-flex justify-content-center mt-4">
        <p>{{ question.description|linebreaksbr}}</p>
    </div>
    {%endif%}
    {%if file%}
    <div class="container d-flex justify-content-center mt-4">
        <a href="/media/{{file}}" role="button" class="btn btn-primary">Скачать файл</a>
    </div>
    {%elif question.file%}
    <div class="container d-flex justify-content-center mt-4">
        <a href="/media/{{question.file}}" role="button" class="btn btn-primary">Скачать файл</a>
    </div>
    {%endif%}

    <div class="text-center">

    
        {%if competition.is_final%}
        <p>Ваш ответ: {%if ans%}{{ans.0.ans}}{%endif%}</p>
        <p>Ответ жюри: {{question.question|get_question_ans}}</p>
        {%if ans%}<p>Результат:{% if ans.0.result%} Правильно{%else%} Неправильно{%endif%}{%endif%}</p>
        {%else%}
    </div>
    <div class="container d-flex justify-content-center">
        <form id="form" method="post">
            {% csrf_token %}
            {% if question.type == '0' %}
                <label for="ans" class="form-label"> Введите правильный ответ</label>
                <input id='ans' name="ans" class="form-control" value="{%if ans%}{{ans.0.ans}}{%endif%}">
            {% else %}
                <label class="form-label"> {% if question.type == '1'  %}Выберите один правильный вариант ответа{% else %}Выберите все правильные варианты ответа{% endif %}</label>
                {% for i in answers %}
                    <div class="form-check">
                        <input class="form-check-input" type="{% if question.type == '1'  %}radio{% else %}checkbox{% endif %}" {% if question.type == '1'  %}name="ans"{% else %}name="{{ i.1 }}"{% endif %} value="{{ i.1 }}" id="flexRadioDefault1">
                        <label class="form-check-label" for="flexRadioDefault1">
                            {{ i.0 }}
                        </label>
                    </div>
                {% endfor %}
            {% endif %}
            <div class="my-3 d-flex justify-content-center">
{#                <a class="btn btn-primary disabled" href="#" role="button"><i class="bi bi-arrow-left-short"></i></a>#}
                <button type="submit" class="btn btn-success" form="form" style="margin-right: 0.5em;margin-left: 0.5em" {% if competition.is_visible_result and need %}disabled{% endif %}>Подтвердить</button>
{#                <a class="btn btn-primary disabled" href="#" role="button"><i class="bi bi-arrow-right-short"></i></a>#}
            </div>
        </form>
    </div>
    {%endif%}
    <script>
       {%comment%} function aa() {
            $.ajax({
                url: '{% url 'is_close' competition.pk %}',
                data: {},
                success: function (data) {
                    if (data['open']) {
                        document.location.reload();
                    }
                    console.log(data)
                },
                method: 'get'
            })

        }

        setInterval(aa, 5000){%endcomment%}
    </script>
    {%else%}
    <script>
        {%if not competition.is_final%}
        document.location.replace('/')
        {%endif%}
    </script>
    {%endif%}
{% endblock %}
