{% extends 'base.html' %}
{% load static %}
{% block title %}Management{% endblock %}
{% block main %}
    <div class="row my-4 d-flex justify-content-center">
        <div class="col-lg-3 my-3 text-center">
            <div class="card">
                <a href="{% url 'user-management' %}">
                    <img class="card-img-top p-4 " src="{% static "management/img/add.svg" %}" height="256" width="256"
                         alt="Card image cap">
                </a>
                <div class="card-body">
                    <h5 class="card-title">Управление пользователями</h5>
                </div>
            </div>
        </div>
        <div class="col-lg-3 my-3 text-center">
            <div class="card h-100">
                <a href="{% url 'question_management' %}">
                    <img class="card-img-top p-4" src="{% static 'management/img/question.svg' %}" height="256" width="256" alt="Card image cap">
                </a>
                <div class="card-body">
                    <h5 class="card-title">Управление вопросами</h5>
                </div>
            </div>
        </div>
        <div class="col-lg-3 my-3 text-center">
            <div class="card h-100">
                <a href="{% url 'contest_management' %}">
                    <img class="card-img-top p-4" src="{% static "management/img/trophy.svg" %}" height="256"
                         width="256" alt="Card image cap">
                </a>
                <div class="card-body">
                    <h5 class="card-title">Управление задачами</h5>
                </div>
            </div>
        </div>
        <div class="col-lg-3 my-3 text-center">
            <div class="card h-100">
                <a href="{% url 'competition_management' %}">
                    <img class="card-img-top p-4" src="{% static "management/img/competition.svg" %}" height="256"
                         width="256" alt="Card image cap">
                </a>
                <div class="card-body">
                    <h5 class="card-title">Управление соревнованиями</h5>

                </div>
            </div>
        </div>
        
        <div class="col-lg-3 my-3 text-center">
            <div class="card h-100">
                <a href="{% url 'group_managment' %}">
                    <img class="card-img-top p-4" src="{% static 'management/img/team.svg' %}" height="256"
                        width="256" alt="Card image cap">
                </a>
                <div class="card-body">
                    <h5 class="card-title">Управление группами</h5>
                </div>
            </div>
        </div>
        {%if request.user.is_staff%}
        <div class="col-lg-3 my-3 text-center">
            <div class="card">
                <a href="{% url 'teacher_page' %}">
                    <img class="card-img-top p-4 " src="{% static "management/img/teacher.svg" %}" height="256" width="256"
                         alt="Card image cap">
                </a>
                <div class="card-body">
                    <h5 class="card-title">Управление учителями</h5>
                </div>
            </div>
        </div>
        
        
        {% comment %} <div class="col-lg-3 my-3 text-center">
            <div class="card h-100">
                <a href="{% url 'question_generator_manage' %}">
                    <img class="card-img-top p-4" src="{% static 'management/img/generator.svg' %}" height="256"
                        width="256" alt="Card image cap">
                </a>
                <div class="card-body">
                    <h5 class="card-title">Управление генераторами вариантов</h5>
                    <p class="card-text">Для вопросов</p>
                </div>
            </div>
        </div> {% endcomment %}
    </div>
    {%endif%}
    <div class="row my-4 d-flex justify-content-center">

    </div>
{% endblock %}