{% extends 'base.html' %}
{% load static %}
{% block title %}Teacher create{% endblock %}
{% block main %}

    <h1 class='display-1 text-center'>Управление учителями</h1>
    <div class="text-center">
        <a class="btn btn-primary my-4  btn-lg btn-block" href="{% url 'teacher_create' %}"> Создать учителя</a>
    </div>
    <table class="table table-striped" id="table">
        <thead class="table-dark">
        <tr class="">
            <th scope="col">Логин</th>
            <th scope="col">Пароль</th>
            <th scope="col"><div class="d-flex justify-content-center">Изменить</div></th>
            <th scope="col" id="delete"><div class="row row-cols-lg-auto g-3 justify-content-center align-items-center"><div class="col-12 d-flex align-items-center"><a type="button" onclick="make_del_link(this)" class="btn btn-danger btn-sm me-3">Удалить</a> <input type="checkbox" onclick="select_all(this)" class="form-check-input" id="all"></div></div></th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>

                <th>{{ user.user.username }}</th>
                <th>{{ user.password }}</th>
                <th class=""><div class="d-flex justify-content-center"><a href="{% url 'change_teacher' user.pk %}" class="btn btn-sm btn-primary">
                    <i class="bi bi-pencil-square"></i></a></div></th>
                <th class=""><div class="d-flex justify-content-center"><input type="checkbox" class="form-check-input delete_item" id="{{ user.pk }}"></div></th>
            </tr>

        {% endfor %}
        </tbody>
    </table>
    <script src="{%static "/management/sorter.js"%}"></script>
    <script>
        var sorter = new Sorter(document.getElementById("table"), document.getElementById("delete"));
    </script>
    {% if users.has_other_pages %}
                <nav aria-label="Page navigation example" class="d-flex justify-content-center">
                    <ul class="pagination">
                        {% if users.has_previous %}
                            <li class="page-item"><a class="page-link" href="?page={{ users.previous_page_number }}">&laquo;</a>
                            </li>
                        {% else %}
                            <li class=" page-item  disabled"><a class="page-link" href="#">&laquo;</a></li>
                        {% endif %}
                        {% for i in users.paginator.page_range %}
                            {% if users.number == i %}
                                <li class=" page-item disabled"><a class="page-link" href="?page={{ i }}">{{ i }}</a>
                                </li>
                            {% else %}
                                <li class="page-item "><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                            {% endif %}
                        {% endfor %}
                        {% if users.has_next %}
                            <li class="page-item  "><a class="page-link" href="?page={{ users.next_page_number }}">&raquo;</a>
                            </li>
                        {% else %}
                            <li class=" page-item disabled"><a class="page-link" href="#">&raquo;</a></li>
                        {% endif %}
                    </ul>
                </nav>
            {% endif %}
    {{s|linebreaksbr}}
    <script>
    function select_all(el){
        for(let i = 0; i<document.getElementsByClassName('delete_item').length; i++){
            document.getElementsByClassName('delete_item')[i].checked = el.checked
        }
    }
    function make_del_link(el){
        let ret = ''
        for(let i = 0; i<document.getElementsByClassName('delete_item').length; i++){
            if (document.getElementsByClassName('delete_item')[i].checked){
                ret+=document.getElementsByClassName('delete_item')[i].id.toString()+' '
            }

        }
        ret = ret.slice(0, -1)
        console.log(ret)
        el.href='{% url 'delete_teacher' %}'+'?to_del='+ret
    }
    </script>


{% endblock %}