{% extends 'base.html' %}
{% load static %}
{% block title %}Contest management{% endblock %}
{% block main %}
{% load filters%}

    <h1 class='display-1 text-center'>Управление генераторами вопросов</h1>
    <div class="text-center">
        <a class="btn btn-primary my-4  btn-lg btn-block" href="{% url 'question_gen_create' %}">Создать новый генератор </a>

    </div>
    

    <table class="table table-striped">
        <thead class="table-dark">
        <tr>
            <th scope="col">Задача</th>
            <th scope="col">Количество вариантов</th>
            <th scope="col">Занято</th>
            <th scope="col">Изменить</th>
            <th scope="col"><div class="row row-cols-lg-auto g-3 justify-content-center align-items-center"><div class="col-12 d-flex align-items-center"><a type="button" onclick="make_del_link(this)" class="btn btn-danger btn-sm me-3">Удалить</a> <input type="checkbox" onclick="select_all(this)" class="form-check-input" id="all"></div></div></th>

        </tr>
        </thead>
        <tbody>
            {%for gen in generators%}
            <tr>
                <th>
                    {{gen.question.name}}
                </th>
                <th>
                    {{gen.pk|count_variants}}
                </th>
                <th>
                    {{gen.pk|occ_variants}}
                </th>
                <th>
                    <a href="{%url 'question_generator' gen.pk %}" class="btn btn-sm btn-primary">
                        <i class="bi bi-pencil-square"></i>
                    </a>
                </th>
                <td class="">
                    <div class="d-flex justify-content-center">
                        <input type="checkbox" class="form-check-input delete_item" id="{{ group.pk }}">
                    </div>
                </td>
            </tr>
            {%endfor%}
        </tbody>
    </table>
    <script>
        function select_all(el){
            for(let i = 0; i<document.getElementsByClassName('delete_item').length; i++){
                document.getElementsByClassName('delete_item')[i].checked = el.checked
            }
        }
        function make_del_link(el){
            let ret = ''
            for(let i = 0; i<document.getElementsByClassName('delete_item').length; i++){
                if (document.getElementsByClassName('delete_item')[i].checked){
                    ret+=document.getElementsByClassName('delete_item')[i].id.toString()+' '
                }
    
            }
            ret = ret.slice(0, -1)
            console.log(ret)
            el.href='{% url 'delete_group' %}'+'?to_del='+ret
        }
    </script>

{% endblock %}
