{% extends 'base.html' %}
{% load widget_tweaks %}
{%load filters %}

{% block main %}
    <div class="card my-5">
        <div class="card-body px-5">
            <form method="POST" id="form">
                {% csrf_token %}
                
                {% for i in form.visible_fields %}
                <div class="mb-3">
                    {%if i.field|get_widget_type == 'NullBooleanField' or i.field|get_widget_type == 'BooleanField' %}
                    <div class="form-check">
                        <label for="{{ i.auto_id }}" class="form-label">{{ i.label }}</label>
                        {% render_field i class='form-check-input' %}
                    </div>
                    {%elif i.field|get_widget_type == 'ModelMultipleChoiceField'%}
                    <label for="{{ i.auto_id }}" class="form-label">{{ i.label }}</label>
                    <div class="mb-3">
                        <div class="input-group input-group-sm">
                            <span class="input-group-text"><i class="bi bi-search"></i></span>
                            <input type="text" class="form-control" id="search" placeholder="Найти" onchange="find('{{i.auto_id}}', this.value)">
                    </div>
                    
                    {% render_field i class='form-control' %}
                    <div id="emailHelp" class="form-text">Если вы хотите выбрать несколько элементов то при нажатии на них удеживайте ctrl</div>
                    {%else%}
                        <label for="{{ i.auto_id }}" class="form-label">{{ i.label }}</label>
                        {% render_field i class='form-control' %}
                    {%endif%}
                </div>
                
                {% endfor %}
                {% for hidden in form.hidden_fields %}
                    {{ hidden }}
                {% endfor %}
                <div id="emailHelp" class="form-text">Если вы поставите меньшее количество вариантов, то удалятся прежде всего варианты без участников </div>
                <script>
                    function time_close() {
                        console.log(document.getElementsByClassName('form-control'))
                        for (let i in document.getElementsByClassName('form-control')) {
                            if (document.getElementsByClassName('form-control')[i].type == 'datetime-local'){
                                document.getElementsByClassName('form-control')[i].value = ''
                                document.getElementsByClassName('form-control')[i].disabled = document.getElementById('unlim').checked
                            }
                            
                        }
                    }
                    function find(id, val){
                        el = document.getElementById(id)
                        val = val.toLowerCase()
                        {% comment %} console.log(el, val) {% endcomment %}
                        {% comment %} console.log(el.options) {% endcomment %}
                        for(var i of el.options){
                            i.hidden = false
                            console.log(i.innerHTML.toLowerCase().match(val), val)
                            if (!i.innerHTML.toLowerCase().match(val)){
                                i.hidden = true
                            }
                        }
                    }
                    $(document).keypress(
                    function(event){
                        if (event.which == '13') {
                        event.preventDefault();
                        }
                    });
                </script>
                <div class="my-3">
                    <button type='submit' class="btn btn-success" for="form">Создать генератор</button>
                    <a class="btn btn-primary" href="{% url 'question_generator_manage'%}" role="button" >Назад</a>
                </div> 
            </form>
        </div>
        
    </div>
    <h2 class='display-2'></h2>
    <table class="table">
        <thead class="table-dark">
          <tr>
            <th scope="col">Данные</th>
            <th scope='col'>Ответ</th>
            <th scope="col">Участник</th>
            <th scope="col">Просмотр</th>
          </tr>
        </thead>
        <tbody>
            {%for i in variants%}
            <tr>
                <th>{{i.data}} </th>
                <th>{{i.ans}}</th>
                <th>{{i.user.username}}</th>
                <th>-</th>
            </tr>
            {%endfor%}
        </tbody>
{%endblock%}