{% extends 'base.html' %}
{% load widget_tweaks %}
{%load filters %}

{% block main %}
    <div class="card my-5">
        <div class="card-body px-5">
            <form method="POST" enctype="multipart/form-data" id="form">
                {% csrf_token %}
                
                {% for i in form.visible_fields %}
                <div class="mb-3">
                    {%if i.field|get_widget_type == 'NullBooleanField' or i.field|get_widget_type == 'BooleanField' %}
                    <div class="form-check">
                        <label for="{{ i.auto_id }}" class="form-label">{{ i.label }}</label>
                        {% render_field i class='form-check-input' %}
                    </div>
                    {%elif i.field|get_widget_type == 'ModelMultipleChoiceField'%}
                    <label for="{{ i.auto_id }}" class="form-label">{{ i.label }}</label>
                    <div class="mb-3">
                        <div class="input-group input-group-sm">
                            <span class="input-group-text"><i class="bi bi-search"></i></span>
                            <input type="text" class="form-control" id="search" placeholder="Найти" onchange="find('{{i.auto_id}}', this.value)">
                    </div>
                    
                    {% render_field i class='form-control' %}
                    <div id="emailHelp" class="form-text">Если вы хотите выбрать несколько элементов то при нажатии на них удеживайте ctrl</div>
                    {%else%}
                        <label for="{{ i.auto_id }}" class="form-label">{{ i.label }}</label>
                        {% render_field i class='form-control' %}
                    {%endif%}
                </div>
                
                {% endfor %}
                {% for hidden in form.hidden_fields %}
                    {{ hidden }}
                {% endfor %}
                <div id="emailHelp" class="form-text">Если вы поставите меньшее количество вариантов, то удалятся прежде всего варианты без участников </div>
                <script>
                    function time_close() {
                        console.log(document.getElementsByClassName('form-control'))
                        for (let i in document.getElementsByClassName('form-control')) {
                            if (document.getElementsByClassName('form-control')[i].type == 'datetime-local'){
                                document.getElementsByClassName('form-control')[i].value = ''
                                document.getElementsByClassName('form-control')[i].disabled = document.getElementById('unlim').checked
                            }
                            
                        }
                    }
                    function find(id, val){
                        el = document.getElementById(id)
                        val = val.toLowerCase()
                        {% comment %} console.log(el, val) {% endcomment %}
                        {% comment %} console.log(el.options) {% endcomment %}
                        for(var i of el.options){
                            i.hidden = false
                            console.log(i.innerHTML.toLowerCase().match(val), val)
                            if (!i.innerHTML.toLowerCase().match(val)){
                                i.hidden = true
                            }
                        }
                    }
                    $(document).keypress(
                    function(event){
                        if (event.which == '13') {
                        event.preventDefault();
                        }
                    });
                </script>
                <div class="my-3">
                    <button type='submit' class="btn btn-success" for="form">Обновить генератор</button>
                    <a class="btn btn-primary" href="{% url 'question_generator_manage'%}" role="button" >Назад</a>
                </div> 
            </form>
        </div>
        
    </div>
    <h2 class='display-2'></h2>
    <table class="table">
        <thead class="table-dark">
          <tr>
            <th scope="col">Данные</th>
            <th scope='col'>Ответ</th>
            <th scope="col">Участник</th>
            <th scope="col">Просмотр</th>
            <th scope="col"><div class="row row-cols-lg-auto g-3 justify-content-center align-items-center"><div class="col-12 d-flex align-items-center"><a type="button" onclick="make_del_link(this)" class="btn btn-danger btn-sm me-3">Удалить</a> <input type="checkbox" onclick="select_all(this)" class="form-check-input" id="all"></div></div></th>
          </tr>
        </thead>
        <tbody>
            {%for i in variants%}
            <tr>
                <th>{{i.data}} </th>
                <th>{{i.ans}}</th>
                <th>{{i.user.username}}</th>
                <th>-</th>
                <td class=""><div class="d-flex justify-content-center"><input type="checkbox" class="form-check-input delete_item" id="{{ i.pk }}"></div></td>
            </tr>
            {%endfor%}
        </tbody>
        <script>
            function select_all(el){
                for(let i = 0; i<document.getElementsByClassName('delete_item').length; i++){
                    document.getElementsByClassName('delete_item')[i].checked = el.checked
                }
            }
            function make_del_link(el){
                let ret = ''
                for(let i = 0; i<document.getElementsByClassName('delete_item').length; i++){
                    if (document.getElementsByClassName('delete_item')[i].checked){
                        ret+=document.getElementsByClassName('delete_item')[i].id.toString()+' '
                    }
        
                }
                ret = ret.slice(0, -1)
                console.log(ret)
                el.href='{% url 'delete_variant' %}'+'?to_del='+ret
            }
            </script>
{%endblock%}