{% extends 'base.html' %}
{% load static %}
{% block title %}Contest management{% endblock %}
{% block main %}

    <h1 class='display-1 text-center'>Управление группами</h1>
    <div class="text-center">
        <a class="btn btn-primary my-4  btn-lg btn-block" href="{% url 'new_group' %}"> Создать новую группу</a>

    </div>
    

    <table class="table table-striped">
        <thead class="table-dark">
        <tr>
            <th scope="col">Название</th>
            <th scope="col">Участники</th>
            <th scope="col">Изменить</th>
            <th scope="col">Удалить</th>

        </tr>
        </thead>
        <tbody>
            {%for group in groups%}
            <tr>
                <th>
                    {{group.name}}
                </th>
                <th>
                    {%for i in group.users.all%}{{i}} {%endfor%}
                </th>
                <th>
                    <a href="#" class="btn btn-sm btn-primary">
                        <i class="bi bi-pencil-square"></i>
                    </a>
                </th>
                <th>
                    <a href="{%url 'delete_group' group.pk %}" class="btn btn-sm btn-danger">
                        <i class="bi bi-trash-fill"></i>
                    </a>
                </th>
            </tr>
            {%endfor%}
        </tbody>
    </table>


{% endblock %}
