{% extends 'base.html' %}
{% load static %}
{% block title %}Homepage{% endblock %}
{% block main %}

    <div class="card login card-50 my-3">
        <div class="card-body">

            <div class="d-flex justify-content-center align-items-center flex-column">
                <h3 class="display-3 mb-3">Ошибка 404</h3>
                <p class="fs-4 text-center">Похоже вы пытаетесь зайти на страницу, которой нет. </br>Если вы попали сюда с другой страницы сайта сообщите <a href="https://t.me/rcomrad">@rcomrad</a></p>
            </div>
        </div>
    </div>
{% endblock %}
