{% extends 'base.html' %}
{% load static %}
{% block title %}Homepage{% endblock %}
{% block main %}
    <div class="container my-4">
    {% if messages %}
        {% for message in messages %}
            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                <div class="alert alert-error" role="alert">
            {% else %}
                <div class="alert alert-success" role="alert">
            {% endif %}
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
    <h1 class = 'display-1'>Hello</h1>


    </div>
{% endblock %}