{% extends 'base.html' %}
{% load static %}
{%load comptition_filter%}
{% block title %}Loading{% endblock %}
{% block main %}
<div class="d-flex justify-content-center align-items-center text-center flex-column" style="min-height: 80vh">
    <h1 class="display-2 mb-6">Скоро сгенерится, надо немного подождать</h1>
    <a href="/media/{{id}}.txt" download class="btn btn-primary btn-lg" style="display: none" id="download">Скачать</a>
</div>
<script>
    function aa() {
        $.ajax({
            url: '{% url 'is_exist' id %}',
            data: {},
            success: function (data) {
                if (data['exist']) {
                    document.getElementById("download").style.display = "block"
                    clearInterval(a);
                    
                }
                console.log(data)
            },
            method: 'get'
        })

    }

    a = setInterval(aa, 5000)
</script>

{%endblock%}