{% extends 'base.html' %}
{% load static %}
{% block title %}Errors{% endblock %}
{% block main %}

    <h1 class='display-1 text-center'>Список ошибок</h1>
    <table class="table table-striped mt-5">
        <thead class="table-dark">
        <tr>
            <th scope="col">Участник</th>
            <th scope="col">Соревнование</th>
            <th scope="col">Ответить</th>
            <th scope="col"><div class="row row-cols-lg-auto g-3 justify-content-center align-items-center"><div class="col-12 d-flex align-items-center"><a type="button" onclick="make_del_link(this)" class="btn btn-danger btn-sm me-3">Удалить</a> <input type="checkbox" onclick="select_all(this)" class="form-check-input" id="all"></div></div></th>

        </tr>
        </thead>
        <tbody>
            {%for error in problems%}
            <tr class="{%if error.is_ansed%}text_muted{%endif%}">
                <th>{%if error.get_from%}{{error.get_from}}{%else%}{{error.session}}{%endif%}</th>
                <th>{%if error.competition%}{{error.competition}}{%else%}-{%endif%}</th>
                <th>
                    <a href="{%url "answer" error.pk %}" class="btn btn-sm btn-primary">
                        {%if error.is_ansed%}
                        <i class="bi bi-check-circle"></i>
                        {%else%}
                        <i class="bi bi-circle"></i>
                        {%endif%}
                    </a>
                </th>
                <td class="">
                    <div class="d-flex justify-content-center">
                        <input type="checkbox" class="form-check-input delete_item" id="{{ error.pk }}">
                    </div>
                </td>
            </tr>
            {%endfor%}
        </tbody>
    </table>
    <script>
        function select_all(el){
            for(let i = 0; i<document.getElementsByClassName('delete_item').length; i++){
                document.getElementsByClassName('delete_item')[i].checked = el.checked
            }
        }
        function make_del_link(el){
            let ret = ''
            for(let i = 0; i<document.getElementsByClassName('delete_item').length; i++){
                if (document.getElementsByClassName('delete_item')[i].checked){
                    ret+=document.getElementsByClassName('delete_item')[i].id.toString()+' '
                }
    
            }
            ret = ret.slice(0, -1)
            console.log(ret)
            el.href="{%url 'delete_error'%}"+"?to_del="+ret
        }
    </script>

{% endblock %}
