{% extends 'base.html' %}
{% load static %}
{% block title %}{{ competition.name }}{% endblock %}
{% block main %}
       <h2 class="display-2 text-center">{{ competition.name }}</h2>
    {% if status == 'ОТКРЫТО' or status == 'ИДЕТ' %}
       <div class="text-center">
       <a class="btn btn-primary my-4  btn-lg btn-block col-auto" href="{% url 'load_ans' competition.pk %}">Загрузить решение</a>
       </div>
       <table class="table table-striped table-bordered">
          <thead class="table-dark text-center">
            <tr>
              <th scope="col" class="col-9">Название</th>
              <th scope="col" class="col-1">Время</th>
              <th scope="col" class="col-1">Память</th>
              <th scope="col" class="col-1">Статус</th>
            </tr>
          </thead>
          <tbody>
          {% for contest in competition.contests.all %}
            <tr>
                <th><a href="{% url 'contest_page' contest.pk competition.pk%}"
                       style="text-decoration: none;
                 color: black">{{ contest.name }}</a></th>
                <th class="text-center">{{ contest.time_limit }} с</th>
                <th class="text-center">{{ contest.memory_limit }} MB</th>
                {% for pk, result in solutions.items %}
                    {% if pk == contest.pk %}
                        {% if result in bad %}
                            <th class="text-center table-danger">{{ result }}</th>
                        {% elif result == 'OK'%}
                            <th class="text-center table-success">{{ result }}</th>
                        {% else %}
                            <th class="text-center">{{ result }}</th>
                        {% endif %}
                    {% else %}
                        <th class="text-center"> - </th>
                    {% endif %}
                {% endfor %}
            </tr>
          {% endfor %}
          </tbody>
       </table>
    {% else %}
        <h3 class="display-3 my-3 text-center">{{ status }}</h3>
    {% endif %}
    {% if status == 'НЕ НАЧАЛОСЬ' %}
        <script>
        function aa(){
            $.ajax({
                url: '{% url 'is_open' competition.pk %}',
                data: {},
                success: function (data){
                    if (data['open']) {
                        document.location.reload();
                    }
                    console.log(data)
                },
                method: 'get'
            })

        }
        setInterval(aa, 5000)
        </script>
    {% endif %}
{% endblock %}