{% extends 'base.html' %}
{%load static %}
{% block main %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.7.1/ace.js"></script>
    <h2 class="display-2 text-center">Отослать решение</h2>
    <form class="text-center form my-3" enctype="multipart/form-data" method="post">
        {% csrf_token %}
        <div class="row align-items-center my-3">
            <div class="col-3 "><label for="task" class="text-right">Выберите задачу: </label></div>
            <div class="col-9 text-center"><select name="task" id="task" class="col-form-label form-control">
                {% for i in competition.contests.all %}
                    {% if i.name == contest.name %}
                        <option selected value="{{ i.pk }}">{{ i.name }}</option>
                    {% else %}
                        <option value="{{ i.pk }}">{{ i.name }}</option>
                    {% endif %}
                {% endfor %}
            </select></div>
        </div>
        <div class="row align-items-center my-3">
            <div class="col-3"><label for="lang" class="text-right">Выберите язык: </label></div>
            <div class="col-9 text-center"><select name="lang" id="lang" class="col-form-label form-control"
                                                   onchange="change_lang()">
                {% for i in langs.keys %}
                    <option value="{{ i }}">{{ i }}</option>
                {% endfor %}

            </select></div>
        </div>
        <div class="my-3">
            <div class="text-center my-3"><label for="ans_area" class="text-right">Код решения: </label></div>
            <div id="editor" class="col-form-label"
                 style="box-sizing: border-box; height: 370px; border: 1px solid rgb(170, 170, 170); width: 100% !important; display: block;"></div>
        </div>
        <textarea hidden name="code" id="code" onchange="disable_file()"></textarea>
        <div class="row align-items-center my-3">
            <div class="col-3"><label for="task" class="text-right">Или загруженный файл: </label></div>
            <div class="col-9 text-center"><input type="file" name="file" id="file" class="col-form-label form-control">
            </div>
        </div>
        <button class="btn btn-primary">Отправить решение</button>
    </form>

    <script>
        var editor = ace.edit("editor");
        editor.setTheme("ace/theme/chrome");
        editor.session.setMode("ace/mode/python");
        editor.session.on('change', function (_) {
            const c = $('#code')
            const code = editor.getValue()
            c.val(code)
            {#console.log(c.val())#}
            {#console.log(c.val())#}
        })
    </script>
    <script>

        function change_lang() {
            const langs = {
                {% for i, j in langs.items %}
                    '{{ i }}': '{{ j }}',
                {% endfor %}
            }
            const ace_langs = {
                {% for i, j in ace_langs.items %}
                    '{{ i }}': '{{ j }}',
                {% endfor %}
            }
            editor.session.setMode('ace/mode/' + ace_langs[document.getElementById('lang').value])
            document.getElementById('file').setAttribute('accept', langs[document.getElementById('lang').value])
        }

        change_lang()
    </script>
    <script>
        function disable_file() {
            if (document.getElementById('code').value !== '') {
                document.getElementById('file').setAttribute("disabled", "disabled")
            } else {
                document.getElementById('file').removeAttribute("disabled")
            }

        }
    </script>
{% endblock %}