{% extends 'base.html' %}
{% load static %}
{% block title %}User Generating{% endblock %}
{% block main %}

    <h1 class = 'display-1 text-center'>Управление задачами</h1>
    <div class="text-center">
        <a class="btn btn-primary my-4  btn-lg btn-block" href="{% url 'competition_creating' %}"> Создать новую задачупп</a>

    </div>

    <table class="table table-striped">
      <thead class="table-dark">
        <tr>
          <th scope="col">Название</th>
          <th scope="col">Дата начала</th>
          <th scope="col">Дата конца</th>
          <th scope="col">Изменить</th>
          <th scope="col">Удалить</th>
        </tr>
      </thead>
        <tbody>

            {% for competition in competitions %}
                <tr>

                    <td>{{ competition.name }}</td>
                    {% if competition.start_time is None %}
                        <td colspan="2" class="text-center">Бессрочно</td>
                    {% else %}
                        <td>{{ competition.start_time }}</td>
                        <td>{{ competition.end_time }}</td>
                    {% endif %}
                    <td> <a href="{% url 'update_competition' competition.pk%}" class="btn btn-sm btn-primary">
                        <i class="bi bi-pencil-square"></i></a> </td>
                    <td> <a href="{% url 'delete_competition' competition.pk %}" class="btn btn-sm btn-danger">
                       <i class="bi bi-trash-fill"></i></a> </td>
                </tr>

            {% endfor %}
        </tbody>
    </table>


{% endblock %}