{% extends 'base.html' %}
{% load static %}
{% block title %}Contest management{% endblock %}
{% block main %}

    <h1 class = 'display-1 text-center'>Управление задачами</h1>
    <div class="text-center">
        <a class="btn btn-primary my-4  btn-lg btn-block" href="{% url 'contest_creating' %}"> Создать новую задачу</a>

    </div>

    <table class="table table-striped">
      <thead class="table-dark">
        <tr>
          <th scope="col">Название</th>
          <th scope="col">Ограничнеие по памяти</th>
          <th scope="col">Ограничение по времени</th>
          <th scope="col">Соревнование</th>

          <th scope="col">Изменить</th>
          <th scope="col">Удалить</th>
        </tr>
      </thead>
        <tbody>

            {% for contest in contests %}
                <tr>

                    <td>{{ contest.name }}</td>
                    <td> {{ contest.memory_limit }} MB</td>
                    <td>{{ contest.time_limit }} с</td>
                    <td> {% if  contest.competitions_set.all  %}{% for i in contest.competitions_set.all%}{{ i }} {% endfor %}{% else %} - {% endif %}</td>
                    <td> <a href="{% url 'contest_m_page' contest.pk%}" class="btn btn-sm btn-primary">
                        <i class="bi bi-pencil-square"></i></a> </td>
                    <td> <a href="{% url 'delete_contest' contest.pk %}" class="btn btn-sm btn-danger">
                       <i class="bi bi-trash-fill"></i></a> </td>
                </tr>

            {% endfor %}
        </tbody>
    </table>


{% endblock %}
