{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% load crispy_forms_tags %}
{% block title %}Users generating{% endblock %}
{% block main %}

    <div class="card my-5">
        <div class="card-body">
            <p id="after" style="display: none"></p>
            <form method="POST" enctype='multipart/form-data'>
                {% csrf_token %}
                {% for i in form %}
                    {% if i == form.description %}
                        <div class="mb-3">
                            <label for="{{ i.auto_id }}" class="form-label">{{ i.label }}</label>
                            {% render_field i class='form-control' %}
                        </div>

                        <div class="mb-3">
                            <label for="need_text" class="form-label">Пример:</label>
                            <p id="need_text"></p>
                            <script>
                                function render_text() {

                                    document.getElementById('need_text').innerText = document.getElementById('raw').value
                                    var MathJax = window.MathJax;
                                    MathJax.texReset();
                                    MathJax.typeset();
                                }
                            </script>
                        </div>
                    {% elif i == form.output %}

                        <div class="mb-3">
                            <label for="{{ i.label }}" class="form-label">{{ i.label }}</label>
                            {% render_field i class='form-control' %}
                        </div>

                        <div class="mb-3">
                            <label for="need_text_2" class="form-label">Пример:</label>
                            <p id="need_text_3"></p>
                            <script>
                                function render_text_3() {

                                    document.getElementById('need_text_3').innerText = document.getElementById('raw_3').value
                                    var MathJax = window.MathJax;
                                    MathJax.texReset();
                                    MathJax.typeset();
                                }
                            </script>
                        </div>
                        {% elif i == form.input %}

                        <div class="mb-3">
                            <label for="{{ i.label }}" class="form-label">{{ i.label }}</label>
                            {% render_field i class='form-control' %}
                        </div>

                        <div class="mb-3">
                            <label for="need_text_2" class="form-label">Пример:</label>
                            <p id="need_text_2"></p>
                            <script>
                                function render_text_2() {

                                    document.getElementById('need_text_2').innerText = document.getElementById('raw_2').value
                                    var MathJax = window.MathJax;
                                    MathJax.texReset();
                                    MathJax.typeset();
                                }
                            </script>
                        </div>
                    {% else %}
                        <div class="mb-3">
                            <label for="{{ i.label }}" class="form-label">{{ i.label }}</label>
                            {% render_field i class='form-control' %}
                        </div>
                    {% endif %}
                {% endfor %}
                <div class="my-3">
                    <button type="submit" class="btn btn-primary">Подтвердить</button>
                    <a href="{% url 'contest_management' %}" class="btn btn-secondary">Отмена</a>
                </div>
            </form>
        </div>
    </div>
{% endblock %}