{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}Users generating{% endblock %}
{% block main %}
        <div class="card my-5">
        <div class="card-body">

            <form method="POST" enctype='multipart/form-data'>
                {% csrf_token %}
                {{ form|crispy }}
                <div class="my-3">
                    <button type="submit" class="btn btn-primary">Подтвердить</button>
                    <a href="{% url 'contest_management' %}" class="btn btn-secondary">Отмена</a>
                </div>
            </form>
        </div>
    </div>
{% endblock %}