{% extends 'base.html' %}
{% load static %}
{% block title %}Contest management{% endblock %}
{% block main %}

    <h1 class='display-1 text-center'>Управление задачами</h1>
    <div class="text-center">
        <a class="btn btn-primary my-4  btn-lg btn-block" href="{% url 'contest_creating' %}"> Создать новую задачу</a>

    </div>

    <table class="table table-striped">
        <thead class="table-dark">
        <tr>
            <th scope="col">Название</th>
            <th scope="col">Ограничнеие по памяти</th>
            <th scope="col">Ограничение по времени</th>
            <th scope="col">Соревнование</th>

            <th scope="col">Изменить</th>
            <th scope="col">Открыть</th>
            <th scope="col"><div class="row row-cols-lg-auto g-3 justify-content-center align-items-center"><div class="col-12 d-flex align-items-center"><a type="button" onclick="make_del_link(this)" class="btn btn-danger btn-sm me-3">Удалить</a> <input type="checkbox" onclick="select_all(this)" class="form-check-input" id="all"></div></div></th>

        </tr>
        </thead>
        <tbody>

        {% for contest in contests %}
            <tr>

                <td>{{ contest.name }}</td>
                <td> {{ contest.memory_limit }} КB</td>
                <td>{{ contest.time_limit }} мс</td>
                <td>{% if  contest.competitions_set.all %}{% for i in contest.competitions_set.all %}
                    {{ i }} {% endfor %}{% else %} - {% endif %}</td>
                <td>
                    <a href="{% url 'contest_m_page' contest.pk %}" class="btn btn-sm btn-primary">
                        <i class="bi bi-pencil-square"></i>
                    </a>
                </td>
                <td>
                    <a href="{% url 'contest_page' contest.pk 10000 %}" class="btn btn-sm btn-primary">
                        <i class="bi bi-eye-fill"></i>
                    </a>
                </td>
                <td class="">
                    <div class="d-flex justify-content-center">
                        <input type="checkbox" class="form-check-input delete_item" id="{{ contest.pk }}">
                    </div>
                </td>
            </tr>

        {% endfor %}
        </tbody>
    </table>
    <script>
        function select_all(el){
            for(let i = 0; i<document.getElementsByClassName('delete_item').length; i++){
                document.getElementsByClassName('delete_item')[i].checked = el.checked
            }
        }
        function make_del_link(el){
            let ret = ''
            for(let i = 0; i<document.getElementsByClassName('delete_item').length; i++){
                if (document.getElementsByClassName('delete_item')[i].checked){
                    ret+=document.getElementsByClassName('delete_item')[i].id.toString()+' '
                }
    
            }
            ret = ret.slice(0, -1)
            console.log(ret)
            el.href='{% url 'delete_contest' %}'+'?to_del='+ret
        }
    </script>


{% endblock %}
