{% extends 'base.html' %}
{% load static %}
{% block title %}Conform delete{% endblock %}
{% block main %}
    
        <div class="card my-5">
        <div class="card-body">
            <p>Вы уверены, что хотите удалить задачу?</p>
            <form method="POST">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Подтвердить</button>
                <a href="{% url 'contest_management' %}" class="btn btn-success">Отмена</a>
            </form>
        </div>
    </div>
    
{% endblock %}