{% extends 'base.html' %}
{% load static %}
{% block title %}User Generating{% endblock %}
{% block main %}

    <h1 class='display-1 text-center'>Управление пользователями</h1>
    <div class="text-center">
        <a class="btn btn-primary my-4  btn-lg btn-block" href="{% url 'generate-users' %}"> Создать новых
            пользователей</a>

    </div>
    <table class="table table-striped">
        <thead class="table-dark">
        <tr class="">
            <th scope="col">Логин</th>
            <th scope="col">Пароль</th>
            {% comment %} <th scope="col">Соревнования</th> {% endcomment %}
            <th scope='col'>Группы</th>
            <th scope="col"><div class="d-flex justify-content-center">Изменить</div></th>
            <th scope="col"><div class="row row-cols-lg-auto g-3 justify-content-center align-items-center"><div class="col-12 d-flex align-items-center"><a type="button" onclick="make_del_link(this)" class="btn btn-danger btn-sm me-3">Удалить</a> <input type="checkbox" onclick="select_all(this)" class="form-check-input" id="all"></div></div></th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>

                <td>{{ user.user.username }}</td>
                <td>{{ user.password }}</td>
                {% comment %} <td>{% if  user.user.competitions_set.all %}{% for i in user.user.competitions_set.all %}
                    {{ i }} {% endfor %}{% else %} - {% endif %}</td> {% endcomment %}
                <td>{%for i in user.user.studentgroup_set.all%}{{i.name}} {%endfor%}</td>
                <td class=""><div class="d-flex justify-content-center"><a href="{% url 'user_change' user.pk %}" class="btn btn-sm btn-primary">
                    <i class="bi bi-pencil-square"></i></a></div></td>
                <td class=""><div class="d-flex justify-content-center"><input type="checkbox" class="form-check-input delete_item" id="{{ user.pk }}"></div></td>
            </tr>

        {% endfor %}
        </tbody>
    </table>
    <script>
    function select_all(el){
        for(let i = 0; i<document.getElementsByClassName('delete_item').length; i++){
            document.getElementsByClassName('delete_item')[i].checked = el.checked
        }
    }
    function make_del_link(el){
        let ret = ''
        for(let i = 0; i<document.getElementsByClassName('delete_item').length; i++){
            if (document.getElementsByClassName('delete_item')[i].checked){
                ret+=document.getElementsByClassName('delete_item')[i].id.toString()+' '
            }

        }
        ret = ret.slice(0, -1)
        console.log(ret)
        el.href='{% url 'delete-user' %}'+'?to_del='+ret
    }
    </script>


{% endblock %}